@import url(https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;

8..144,700&family=Roboto:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #312901;
  position: relative;
}

body::before,
body::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  top: 60%;
  right: -7%;
  background: #ffd700;
  border-radius: 50%;
  overflow: hidden;
}

body::after {
  width: 120px;
  height: 120px;
  left: 5%;
  top: 20%;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 64.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.46875rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 30px 0;
}

.header__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 290px;
          flex: 0 0 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(24, 15, 4);
  padding-bottom: 40px;
}

@supports (padding-bottom: clamp( 1.25rem , -6.021436146rem  +  15.1492198152vw , 2.5rem )) {
  .header__left {
    padding-bottom: clamp( 1.25rem , -6.021436146rem  +  15.1492198152vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -6.021436146rem  +  15.1492198152vw , 2.5rem )) {
  .header__left {
    padding-bottom: calc(1.25rem + 1.25 * (100vw - 47.99875rem) / 8.25125);
  }
}

.header__picture {
  height: 250px;
  overflow: hidden;
}

@supports (height: clamp( 9.375rem , 2.2327805819rem  +  23.8083900767vw , 15.625rem )) {
  .header__picture {
    height: clamp( 9.375rem , 2.2327805819rem  +  23.8083900767vw , 15.625rem );
  }
}

@supports not (height: clamp( 9.375rem , 2.2327805819rem  +  23.8083900767vw , 15.625rem )) {
  .header__picture {
    height: calc(9.375rem + 6.25 * (100vw - 29.99875rem) / 26.25125);
  }
}

.header__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
}

.header__right {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Alegreya", serif;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  background-color: rgb(255, 255, 255);
}

.header__box {
  background: #ffd700;
  padding: 5px 15px 25px;
  font-family: "Alegreya", serif;
}

.header__title {
  font-size: 46px;
  font-weight: 500;
  word-spacing: 15px;
  letter-spacing: 1.5px;
  line-height: 2;
}

@supports (font-size: clamp( 2rem , -3.0900053022rem  +  10.6044538706vw , 2.875rem )) {
  .header__title {
    font-size: clamp( 2rem , -3.0900053022rem  +  10.6044538706vw , 2.875rem );
  }
}

@supports not (font-size: clamp( 2rem , -3.0900053022rem  +  10.6044538706vw , 2.875rem )) {
  .header__title {
    font-size: calc(2rem + 0.875 * (100vw - 47.99875rem) / 8.25125);
  }
}

.header__position {
  font-size: 22px;
  line-height: 2;
}

@supports (font-size: clamp( 1rem , -1.1814308438rem  +  4.5447659446vw , 1.375rem )) {
  .header__position {
    font-size: clamp( 1rem , -1.1814308438rem  +  4.5447659446vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1rem , -1.1814308438rem  +  4.5447659446vw , 1.375rem )) {
  .header__position {
    font-size: calc(1rem + 0.375 * (100vw - 47.99875rem) / 8.25125);
  }
}

.left-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 290px;
          flex: 0 0 290px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(24, 15, 4);
  color: #fff;
  padding: 0 0 30px 0;
}

.left-portfolio__contacts {
  margin: 0 0 20px 0;
}

.left-portfolio__skills {
  margin: 0 0 20px 0;
}

.contacts > *:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__list {
  padding: 10px 10px 10px 15px;
  margin: 0 -10px;
}

.contacts__list > *:not(:last-child) {
  margin-bottom: 15px;
}

.contacts__item {
  padding: 0 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.contacts__item:hover {
  -webkit-box-shadow: 3px 4px 7px;
          box-shadow: 3px 4px 7px;
}

.contacts__item:hover .contacts__img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.contacts__item:hover .contacts__text {
  font-size: 17px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__img {
  width: 34px;
  height: 34px;
  border-radius: 20%;
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.contacts__text {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.title {
  font-size: 24px;
  text-align: center;
  padding: 10px 10px 10px 15px;
  background: #ffd700;
  color: #000;
}

.skills > *:not(:last-child) {
  margin-bottom: 10px;
}

.skills__list {
  padding: 10px 10px 10px 15px;
}

.skills__list > *:not(:last-child) {
  margin-bottom: 15px;
}

.skills__item {
  font-size: 18px;
}

.skills__sublist > *:not(:last-child) {
  margin-bottom: 10px;
}

.skills__subitem {
  font-family: "Alegreya", serif;
  font-size: 17px;
  background: url(../img/icons/mark.svg) 0 -2px/22px 22px no-repeat;
  padding: 0 0 0 25px;
}

.right-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #fff;
}

.right-portfolio > :not(:last-child) {
  margin: 0 0 20px 0;
}

.right-portfolio__about-me {
  padding: 5px 20px 30px;
}

@supports (padding-bottom: clamp( 0.0000000625rem , -7.27143572rem  +  15.1492190577vw , 1.25rem )) {
  .right-portfolio__about-me {
    padding-bottom: clamp( 0.0000000625rem , -7.27143572rem  +  15.1492190577vw , 1.25rem );
  }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -7.27143572rem  +  15.1492190577vw , 1.25rem )) {
  .right-portfolio__about-me {
    padding-bottom: calc(0.0000000625rem + 1.2499999375 * (100vw - 47.99875rem) / 8.25125);
  }
}

.right-portfolio__project {
  padding: 5px 20px 30px;
}

@supports (padding-bottom: clamp( 0.0000000625rem , -7.27143572rem  +  15.1492190577vw , 1.25rem )) {
  .right-portfolio__project {
    padding-bottom: clamp( 0.0000000625rem , -7.27143572rem  +  15.1492190577vw , 1.25rem );
  }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -7.27143572rem  +  15.1492190577vw , 1.25rem )) {
  .right-portfolio__project {
    padding-bottom: calc(0.0000000625rem + 1.2499999375 * (100vw - 47.99875rem) / 8.25125);
  }
}

.right-portfolio__education {
  padding: 5px 20px 30px;
}

@supports (padding-bottom: clamp( 0.0000000625rem , -7.27143572rem  +  15.1492190577vw , 1.25rem )) {
  .right-portfolio__education {
    padding-bottom: clamp( 0.0000000625rem , -7.27143572rem  +  15.1492190577vw , 1.25rem );
  }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -7.27143572rem  +  15.1492190577vw , 1.25rem )) {
  .right-portfolio__education {
    padding-bottom: calc(0.0000000625rem + 1.2499999375 * (100vw - 47.99875rem) / 8.25125);
  }
}

.right-portfolio__experience {
  padding: 5px 20px 30px;
}

.about-me__title {
  margin: 0 0 10px 0;
}

@supports (margin-bottom: clamp( 0.3125rem , -1.5053590365rem  +  3.7873049538vw , 0.625rem )) {
  .about-me__title {
    margin-bottom: clamp( 0.3125rem , -1.5053590365rem  +  3.7873049538vw , 0.625rem );
  }
}

@supports not (margin-bottom: clamp( 0.3125rem , -1.5053590365rem  +  3.7873049538vw , 0.625rem )) {
  .about-me__title {
    margin-bottom: calc(0.3125rem + 0.3125 * (100vw - 47.99875rem) / 8.25125);
  }
}

.about-me__icon {
  margin: 0 auto 20px;
}

.about-me__text {
  text-align: justify;
  line-height: 1.2;
}

.right-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@supports (font-size: clamp( 1.5rem , 0.7728563854rem  +  1.5149219815vw , 1.625rem )) {
  .right-title {
    font-size: clamp( 1.5rem , 0.7728563854rem  +  1.5149219815vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 0.7728563854rem  +  1.5149219815vw , 1.625rem )) {
  .right-title {
    font-size: calc(1.5rem + 0.125 * (100vw - 47.99875rem) / 8.25125);
  }
}

.icon {
  position: relative;
  text-align: center;
  width: 250px;
  font-size: 20px;
}

.icon::after,
.icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  top: 50%;
  border-bottom: 2px solid #2c3e50;
}

.icon::before {
  right: 0;
}

.icon::after {
  left: 0;
}

.project__title {
  margin: 0 0 10px 0;
}

@supports (margin-bottom: clamp( 0.3125rem , -1.5053590365rem  +  3.7873049538vw , 0.625rem )) {
  .project__title {
    margin-bottom: clamp( 0.3125rem , -1.5053590365rem  +  3.7873049538vw , 0.625rem );
  }
}

@supports not (margin-bottom: clamp( 0.3125rem , -1.5053590365rem  +  3.7873049538vw , 0.625rem )) {
  .project__title {
    margin-bottom: calc(0.3125rem + 0.3125 * (100vw - 47.99875rem) / 8.25125);
  }
}

.project__icon {
  margin: 0 auto 20px;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.project__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.project__link {
  position: relative;
}

.project__img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.education__title {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin: 0 0 10px 0;
}

@supports (margin-bottom: clamp( 0.3125rem , -1.5053590365rem  +  3.7873049538vw , 0.625rem )) {
  .education__title {
    margin-bottom: clamp( 0.3125rem , -1.5053590365rem  +  3.7873049538vw , 0.625rem );
  }
}

@supports not (margin-bottom: clamp( 0.3125rem , -1.5053590365rem  +  3.7873049538vw , 0.625rem )) {
  .education__title {
    margin-bottom: calc(0.3125rem + 0.3125 * (100vw - 47.99875rem) / 8.25125);
  }
}

.education__icon {
  margin: 0px auto;
}

.education__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.item-ed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 10px;
}

.item-ed:nth-child(odd) {
  background-color: #edebdf;
}

.item-ed__year {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item-ed__speciality {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.spollers__title {
  text-align: center;
  width: 100%;
  cursor: default;
  position: relative;
  margin-bottom: 20px;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 25%;
  top: 30%;
  background-color: rgb(0, 0, 0);
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
      -ms-transform: translate(-75%, -50%) rotate(45deg);
          transform: translate(-75%, -50%) rotate(45deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
      -ms-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}

._spoller-init .spollers__title._spoller-active {
  border-bottom: none;
  border-radius: 0.3125rem 0.3125rem 0rem 0rem;
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-65%) rotate(-45deg);
      -ms-transform: translateX(-65%) rotate(-45deg);
          transform: translateX(-65%) rotate(-45deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.experience__title {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin: 0 0 10px 0;
}

@supports (margin-bottom: clamp( 0.3125rem , -1.5053590365rem  +  3.7873049538vw , 0.625rem )) {
  .experience__title {
    margin-bottom: clamp( 0.3125rem , -1.5053590365rem  +  3.7873049538vw , 0.625rem );
  }
}

@supports not (margin-bottom: clamp( 0.3125rem , -1.5053590365rem  +  3.7873049538vw , 0.625rem )) {
  .experience__title {
    margin-bottom: calc(0.3125rem + 0.3125 * (100vw - 47.99875rem) / 8.25125);
  }
}

.experience__icon {
  margin: 0 auto 0px;
}

.experience__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.experience__data {
  font-size: 17px;
  text-transform: uppercase;
}

.experience__span {
  font-weight: 400;
  font-size: 13px;
  text-transform: lowercase;
}

.experience__position {
  font-weight: 500;
}

.sides {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__container {
  position: relative;
  z-index: 10;
}

@media (max-width: 900px) {
  .header__position {
    line-height: 1;
  }

  .contacts__list > *:not(:last-child) {
    margin-bottom: 7px;
  }

  .contacts__list {
    padding: 0 10px;
  }

  .contacts__item:hover .contacts__text {
    font-size: 15px;
  }

  .contacts__img {
    width: 30px;
    height: 30px;
  }

  .contacts__text {
    font-size: 14px;
  }

  .title {
    font-size: 20px;
    padding: 7px;
  }

  .skills__list > *:not(:last-child) {
    margin-bottom: 7px;
  }

  .skills__list {
    padding: 0 10px;
  }

  .skills__item {
    font-size: 16px;
  }

  .skills__sublist > *:not(:last-child) {
    margin-bottom: 5px;
  }

  .skills__subitem {
    font-size: 15px;
  }

  .right-portfolio__about-me {
    padding: 5px 20px 20px;
  }

  .right-portfolio__project {
    padding: 5px 20px 20px;
  }

  .right-portfolio__education {
    padding: 5px 20px 20px;
  }

  .right-portfolio__experience {
    padding: 5px 20px 20px;
  }

  .about-me__text {
    font-size: 15px;
  }

  .project__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .item-ed {
    gap: 10px;
    padding: 5px;
  }

  .item-ed__year {
    font-size: 15px;
  }

  .item-ed__speciality {
    font-size: 15px;
  }

  .experience__data {
    font-size: 16px;
  }

  .experience__metier {
    font-size: 14px;
  }
}

@media (max-width: 671px) {
  .contacts__item {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media (max-width: 605px) {
  .skills__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 510px) {
  .contacts__item {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) {
  body::before,
  body::after {
    display: none;
  }

  .header__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
  }

  .contacts__list > *:not(:last-child) {
    margin-bottom: 0;
  }

  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    padding: 10px 15px 10px;
  }

  .contacts__item:hover .contacts__text {
    font-size: 19px;
  }

  .contacts__item {
    -webkit-box-flex: 33.333%;
        -ms-flex: 33.333%;
            flex: 33.333%;
  }

  .contacts__link {
    gap: 7px;
  }

  .contacts__img {
    width: 40px;
    height: 40px;
  }

  .contacts__text {
    font-size: 18px;
  }

  .title {
    font-size: 24px;
  }

  .skills__list > *:not(:last-child) {
    margin-bottom: 0;
  }

  .skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 15px;
    padding: 10px 15px 10px;
    margin: 0 -10px;
  }

  .skills__item {
    font-size: 18px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    padding: 0 10px;
  }

  .skills__subitem {
    font-size: 17px;
  }

  .right-portfolio__about-me {
    padding-top: 25px;
  }

  .about-me__text {
    font-size: 16px;
  }

  .item-ed__year {
    font-size: 16px;
  }

  .item-ed__speciality {
    font-size: 16px;
  }

  .experience__data {
    font-size: 17px;
  }

  .experience__metier {
    font-size: 16px;
  }

  .sides {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 29.99875em) {
  .header__box {
    padding: 10px 15px;
  }

  .header__title {
    line-height: 1;
    letter-spacing: 0px;
    word-spacing: 0px;
    margin-bottom: 15px;
  }

  .skills__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }

  .item-ed__year {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    line-height: 1.2;
    font-size: 18px;
  }

  .item-ed__speciality {
    font-size: 18px;
    line-height: 1.2;
  }

  .experience__data {
    font-size: 18px;
  }

  .experience__position {
    font-size: 17px;
  }
}